@import "helper/custommixins";

button.menu-button {
  background: none;
  border: 1px solid $primary;
  font-size: 15px;
  height: 40px;
  width: 100%;

  &:hover, &:active {
    background: $primary;
    color: white;
  }
}

.location {
  @include addIcon('@/assets/icons/location_icon_green.svg')
}

.open-time {
  @include addIcon('@/assets/icons/clock_icon.svg')
}

.phone {
  @include addIcon('@/assets/icons/phone_icon.svg')
}

.pagination {
  margin-top: 40px;
}
.page-item {
  font-size: 16px ;

  &:first-of-type, &:last-of-type {
    display: none;
  }

  &:not(.disabled) + &:not(.disabled) {
    margin-left: 12px;
  }

  &.disabled {
    .page-link {
      border: none;
    }
  }

  &:not(.disabled) {
    .page-link {
      cursor: pointer;
      width: 44; height: 44;
      border-radius: .5rem;
    }
  }
}
.page-link {
  &:active, &:focus {
    box-shadow: none;
  }
}

.map {
  height: 280px;

  @media (max-width: 567px) {
    height: 160px
  }
}

.toggle-menu {
  position: fixed;
  top: 59px; bottom: 100vh;
  transition: .3s  linear;
  z-index: 101;

  @media (max-width: 576.98px) {
    top: 57px;
  }
}
.toggle-menu.show {
  bottom: 0;
}
.message {
  color: darken($color: $primary, $amount: 10);
  background-color: rgba($color: $primary, $alpha: .25);
  border-radius: 1rem;
  padding: 1rem 1.5rem;
}
