@import "helper/custommixins";

.text-footnote {
  font-size: 14px;
  color: #00000099;
}

.text-no-responsive {
  font-size: 16px;
}

.object-cover {
  object-fit: cover;
}

.location {
  @include addIcon('@/assets/icons/location_icon_green.svg')
}

.open-time {
  @include addIcon('@/assets/icons/clock_icon.svg')
}

.phone {
  @include addIcon('@/assets/icons/phone_icon.svg')
}