@mixin addIcon ($url) {
  color: rgba(0, 0, 0, 0.6);
  font-size: 14px;

  &::before {
    content: '';
    display: inline-block;
    width: 20px; height: 24px;
    background-image: url($url);
    background-position: 50% 50%;
    margin-right: 9px;
    vertical-align: middle;
  }
}
